<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Model ERD</title>
    </head>
    <body>
        <div id="root --back-color='ffffff">
            <header class="sticky">
                <a href={{ url_for('index') }} class="logo">MIM Muzeum</a>
                <a href={{ url_for('erd') }} class="button">Model ERD</a>
                <a href={{ url_for('script') }} class="button">Skrypt</a>
            </header>


            <main>
                <div class="card fluid">
                    <h3> Projekt ERD </h3> 
                </div>
                <div class="card fluid">
                    <figure>
                        <img src="{{url_for('static', filename='erd_bazy.png')}}"" alt="database erd model"/>
                    </figure>
                </div>
            </main>
    
            <footer class="sticky">
                <p>Jakub Podolak, Agnieszka Pałka. MIMUW 2021</p>
            </footer>
        </div>
    </body>
</html>
