<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Wprowadzanie Danych</title>
    </head>
    <body>
        <div id="root">
            <header class="sticky">
                <a href={{ url_for('index') }} class="logo">MIM Muzeum</a>
                <a href={{ url_for('erd') }} class="button">Model ERD</a>
                <a href={{ url_for('script') }} class="button">Skrypt</a>
                <a href={{ url_for('view') }} class="button">Przeglądaj Muzeum</a>
                <a href={{ url_for('insert') }} class="button">Wprowadzanie Danych</a>
                <a href={{ url_for('transfers') }} class="button">Przeniesienie i Wypożyczenia</a>
            </header>

            <main>
                <div class="card fluid">
                    <h3> Wprowadzanie Danych </h3> 
                </div>
                {% if connection %}
                    <form method="post" action="{{ url_for('insert') }}">
                        <fieldset>
                        <legend>Dodaj Eksponat (i Artystę)</legend>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="tytul">Tytuł</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="text" id="tytul" name="tytul" placeholder="Tytuł"/>
                            </div>   
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="typ">Typ</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <select id="typ" name="typ">
                                    <option> Obraz </option>
                                    <option> Rzeźba </option>
                                    <option> Inne </option>
                                </select>
                            </div>      
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="wysokosc">Wysokość (cm)</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="number" id="wysokosc" name="wysokosc" placeholder="Wysokość"/>
                            </div>
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="szerokosc">Szerokość (cm)</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="number" id="szerokosc" name="szerokosc" placeholder="Szerokość"/>
                            </div>
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="waga">Waga (kg)</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="number" id="waga" name="waga" placeholder="Waga"/>
                            </div>
                        </div>

                        <script>
                            document.getElementById('yesQuestion').style.display = "block";
                            // Script to hide and show dependent on radio
                            function displayQuestion(answer) {
                                document.getElementById(answer + 'Question').style.display = "block";
                                if (answer == "yes") { // hide the div that is not selected
                                    document.getElementById('noQuestion').style.display = "none";
                                } else if (answer == "no") {
                                    document.getElementById('yesQuestion').style.display = "none";
                                }
                            }
                        </script>

                        <label>
                            <input type="radio" id="no" name="nowy_artysta" value="no" onchange="displayQuestion(this.value)" checked/> 
                                Istniejący Artysta (lub brak)
                        </label>
                        <label>
                            <input type="radio" id="yes" name="nowy_artysta" value="yes" onchange="displayQuestion(this.value)" />
                                Nowy Artysta
                        </label>

                        <div id="noQuestion" style="display:block;"><br/>
                            <div class="row responsive-label">
                                <div class="col-sm-12 col-md-3">
                                    <label for="artysta_id">ID Artysty</label>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <select id="artysta_id" name="artysta_id">
                                        <option> Artysta Nieznany </option> 
                                        {% for row in artysci %}
                                            <option> {{ row[0] }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="yesQuestion" style="display:none;"><br/>
                            <div class="row responsive-label">
                                <div class="col-sm-12 col-md-3">
                                    <label for="imie">Imię</label>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <input type="text" id="imie" name="imie" placeholder="Imię"/>
                                </div>   
                            </div>
                            <div class="row responsive-label">
                                <div class="col-sm-12 col-md-3">
                                    <label for="nazwisko">Nazwisko</label>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <input type="text" id="nazwisko" name="nazwisko" placeholder="Nazwisko"/>
                                </div>   
                            </div>
                            <div class="row responsive-label">
                                <div class="col-sm-12 col-md-3">
                                    <label for="data_urodzenia">Data urodzenia</label>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <input type="date" id="rok_urodzenia" name="rok_urodzenia" value="1900-01-01">
                                </div>   
                            </div> 
                            <div class="row responsive-label">
                                <div class="col-sm-12 col-md-3">
                                    <label for="data_smierci">Data śmierci</label>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <input type="date" id="rok_smierci" name="rok_smierci">
                                </div>   
                            </div>  
                        </div>


                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <input class="tertiary doc" type="submit" id="dodaj_eksponat" name="dodaj_eksponat" value="Dodaj Eksponat">
                            </div>
                        </div>
                        </fieldset>
                    </form>
                    <form method="post" action="{{ url_for('insert') }}">
                        <fieldset>
                        <legend>Dodaj Galerię</legend>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="nazwa"> Nazwa Galerii </label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="nazwa" id="nazwa" name="nazwa" placeholder="Nazwa"/>
                            </div>   
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <label for="liczba_sal">Liczba sal</label>
                            </div>
                            <div class="col-sm-12 col-md">
                                <input type="liczba_sal" id="liczba_sal" name="liczba_sal" placeholder="Liczba sal"/>
                            </div>
                        </div>
                        <div class="row responsive-label">
                            <div class="col-sm-12 col-md-3">
                                <input class="tertiary doc" type="submit" id="dodaj_galerie" name="dodaj_galerie" value="Dodaj Galerię">
                            </div>
                        </div>
                        </fieldset>
                    <form>
                    {% for message in get_flashed_messages() %}
                        <div class="card">
                            <div class="section dark"> {{ message }} </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card error">
                        <h4> Uwaga! </h4>
                        <p> 
                            Nie udało się nawiązać połączenia z bazą danych!   
                            Większość funkcjonalności może być ukryta lub niedostępna.   
                            <div class="spinner"></div>     
                        </p>
                    </div>
                {% endif %}
                
                
            </main>
    
            <footer class="sticky">
                <p>Jakub Podolak, Agnieszka Pałka. MIMUW 2021</p>
            </footer>
        </div>
    </body>
</html>
