<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Skrypt SQL</title>
    </head>
    <body>
        <div id="root --back-color='ffffff">
            <header class="sticky">
                <a href={{ url_for('index') }} class="logo">MIM Muzeum</a>
                <a href={{ url_for('erd') }} class="button">Model ERD</a>
                <a href={{ url_for('script') }} class="button">Skrypt</a>
                {% if db_correct %}
                    <a href={{ url_for('view') }} class="button">Przeglądaj Muzeum</a>
                    <a href={{ url_for('insert') }} class="button">Wprowadzanie Danych</a>
                    <a href={{ url_for('transfers') }} class="button">Położenie Eksponatu</a>
                {% else %} 
                    <mark class="dont">Stwórz tabele by odblokować więcej opcji</mark>
                {% endif %}
            </header>


            <main>
                <div class="card fluid">
                    <h3> Skrypt SQL </h3> 
                </div>
            </main>
    
            <pre>
                {{ init_script }}
            </pre>
    
            <footer class="sticky">
                <p>Jakub Podolak, Agnieszka Pałka. MIMUW 2021</p>
            </footer>
        </div>
    </body>
</html>
