<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Muzeum - Jakub Podolak, Agnieszka Pałka</title>
    </head>
    <body>
        <div id="root">
            <header class="sticky">
                <a href={{ url_for('admin') }} class="logo">MIM Muzeum</a>
                <a href={{ url_for('erd') }} class="button">Model ERD</a>
                <a href={{ url_for('script') }} class="button">Skrypt</a>
                {% if db_correct %}
                    <a href={{ url_for('db_state') }} class="button">Stan Bazy</a>
                    <a href={{ url_for('insert') }} class="button">Wprowadzanie Danych</a>
                    <a href={{ url_for('transfers') }} class="button">Położenie Eksponatu</a>
                    <a href={{ url_for('index') }} class="button">Wyloguj</a>
                {% else %} 
                    <a href={{ url_for('index') }} class="button">Wyloguj</a>
                    <mark class="dont">Stwórz tabele by odblokować więcej opcji</mark>
                {% endif %}
            </header>

            <main>
                <div class="card fluid">
                    <h2> MIM Muzeum </h2>
                    <h3> Panel Administratora </h3> 
                    <p> 
                        Projekt na przedmiot Bazy Danych (inf 2021/2022) - program do obsługi muzeum i eksponatów. </br>
                        Numery indeksów: <strong> jp429585+ap406275 </strong> </br>                    
                    </p>
                </div>

                {% if connection %}
                    <div class="container">
                        <div class="row">
                            <form method ="post" action="{{ url_for('admin') }}">
                                <input class="tertiary doc" type="submit" name="create" value="Stwórz puste tabele">
                                <input class="primary doc" type="submit" name="sample" value="Stwórz tabele i wypełnij przykładowymi danymi">
                                <input class="secondary doc" type="submit" name="drop" value="Wyczyść bazę">
                            </form> 
                        </div>
                        <div class="row">
                            {% for message in get_flashed_messages() %}
                                <div class="card">
                                <div class="section dark"> {{ message }} </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card fluid">
                        <h4> Eksponaty i ich obecne położenie: </h4>     
                        <table>
                        <thead>
                            <tr>
                            <th>Tytuł</th>
                            <th>Typ</th>
                            <th>Imię Artysty</th>
                            <th>Nazwisko Artysty</th>
                            <th>Położenie Eksponatu</th>
                            <th>Wysokość</th>
                            <th>Szerokość</th>
                            <th>Waga</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in view_data %}
                                <tr>
                                    <td data-label="Tytuł"> {{ row[1] }} </td>
                                    <td data-label="Typ"> {{ row[2] }} </td>
                                    <td data-label="Imię Artysty"> {{ row[7] }} </td>
                                    <td data-label="Nazwisko Artysty"> {{ row[8] }} </td>
                                    <td data-label="Położenie Eksponatu"> {{ row[9] }} </td>
                                    <td data-label="Wysokość"> {{ row[3] }} </td>
                                    <td data-label="Szerokość"> {{ row[4] }} </td>
                                    <td data-label="Waga"> {{ row[5] }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <!--
                    <div class="card fluid">
                        <h4> Lista widocznych tabel: </h4>     
                        <table>
                        <thead>
                            <tr>
                            <th>Nazwa</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for table in tables %}
                                <tr>
                                    <td data-label="Nazwa"> {{ table }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                -->
                {% else %}
                    <div class="card error">
                        <h4> Uwaga! </h4>
                        <p> 
                            Nie udało się nawiązać połączenia z bazą danych!   
                            Większość funkcjonalności może być ukryta lub niedostępna.   
                            <div class="spinner"></div>     
                        </p>
                    </div>
                {% endif %}
                
                
            </main>
    
            <footer class="sticky">
                <p>Jakub Podolak, Agnieszka Pałka. MIMUW 2021</p>
            </footer>
        </div>
    </body>
</html>
