<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Muzeum - Jakub Podolak, Agnieszka Pałka</title>
    </head>
    <body>
        <div id="root">
            <header class="sticky">
                <a href={{ url_for('index') }} class="logo">MIM Muzeum</a>
                <a href={{ url_for('erd') }} class="button">Model ERD</a>
                <a href={{ url_for('script') }} class="button">Skrypt</a>
            </header>

            <main>
                <div class="card fluid">
                    <h3> Muzeum </h3> 
                    <p> 
                        Projekt na przedmiot Bazy Danych (inf 2021/2022) - program do obsługi muzeum i eksponatów. </br>
                        Numery indeksów: <strong> jp429585+ap406275 </strong> </br>                    
                    </p>
                </div>
                <div class="card fluid">
                    <h4> Lista zdefiniowanych adresów: </h4>
                    <ul>
                        {% for url, endpoint in links %}
                        <li><a href="{{ url }}">{{ endpoint }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </main>
    
            <footer class="sticky">
                <p>Jakub Podolak, Agnieszka Pałka. MIMUW 2021</p>
            </footer>
        </div>
    </body>
</html>
